
.icon-user:before { content: '\e800'; } /* '' */
.icon-download:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-eye:before { content: '\e803'; } /* '' */
.icon-basket:before { content: '\e804'; } /* '' */
.icon-phone:before { content: '\e805'; } /* '' */
.icon-chat:before { content: '\e806'; } /* '' */
.icon-mail:before { content: '\e807'; } /* '' */
.icon-location:before { content: '\e808'; } /* '' */
.icon-pinterest-squared:before { content: '\f0d3'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-snapchat-square:before { content: '\f2ad'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */